<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd"
         backupGlobals="false"
         bootstrap="vendor/autoload.php"
         colors="true"
         verbose="true"
>
    <testsuites>
        <testsuite name="Tutor Test Suite">
            <directory suffix=".php">./test/</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
            <file>./test/TutorTest/AccessMethod/TestAsset/Model.php</file>
        </whitelist>
    </filter>
</phpunit>
